<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h3>Фильтр</h3>
    <form method="get" th:action="@{'/products'}">
        <table>
            <tbody>
            <tr>
                <td><label>Цена: от </label></td>
                <td><input class="form-control" th:value="${param.min_cost != null ? param.min_cost : ''}" type="number" step="0.01" min="0" placeholder="Минимальная цена" name="min_cost"/></td>
                <td><label> до </label></td>
                <td><input class="form-control" th:value="${param.max_cost != null ? param.max_cost : ''}" type="number" step="0.01" min="0" placeholder="Максимальная цена" name="max_cost"/></td>
                <td><button class="btn btn-primary" type="submit">Применить</button></td>
            </tr>
            </tbody>
        </table>
    </form>

    <h1>Список продуктов</h1>
    <table class="table table-hover">
        <thead class="thead_dark">
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.cost}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>